body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-image: url('../img/moon.jpg');
    background-size: cover;
    background-position: top center;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin: 100px;
}

a:hover{
    cursor: pointer;
    background-color: #0077b6;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex-center {
    justify-content: center;
}

.botom{
    color: #fff;
    border-color: #03045e;
    background-color: #03045e;
    cursor: pointer;
}

div{
    border-color: #03045e;
    background-color: rgba(#0077b6.8);
}

header {
    padding: 40px;
    height: 50px;
    flex-wrap: wrap;
    margin-left: 30%;
    margin-right: 25%;
    background-color: #03045e;
}

header>div {
    width: 50px;
}

@media screen and (max-width: 400px){
    header{
        margin-left: 8%;
    }
}

@media screen and (max-width: 400px){
    a{
        margin-bottom: 30%;
    }
}